.bg{
    background-color:rgb(229, 236, 236);
}

.font-family{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.color{
    color:rgb(194, 118, 18);
}

.font-size{
    font-size: 16px;

}

.font-style{
    font-style:italic;

}

.applytowebsitelinks{
    font-weight:bold;
    text-decoration:underline;
}

.byulink{
    font-weight:lighter;
    text-decoration:underline;
}

.bestlink{
    font-weight:bold;
}

a{
    color:skyblue;
}

.spantagfun{
    color:rosybrown;
}
/*overwrite 4 styles*/
.bold{
    font-weight: bolder;
    text-decoration:underline;
}

.indent{
    text-indent:50px;
}

.italic{
    font-style:italic;
}

.center{
    text-align:center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after{
    content: "";
    clear: both;
    display: table;
}